@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Tilt Prism', cursive;
  background: linear-gradient(to top, #000428, #004e92);
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.clock-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  background-color: #190933;
  padding: 5% 2%;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 1px 2px 10px #fff;
  margin-bottom: 5%;
}

h2 {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  margin-top: 2%;
}

@media only screen and (min-width: 800px){
  .clock-container{
    width: 50vw;
  }
}
